@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    overflow: hidden;
}


main{
    height: 100vh;
    width: 85vw;
    overflow: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
}

.sideBar{
    width: 15vw;
    height: 100vh;
    background: #2b2b2b;
    border-right: 2px solid rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.menuButtons{
    width: 100%;
    height: 80vh;
    overflow: auto;
}

.sideBar h1{
    color: #BB86FC;
    margin-top: 10px;
    border-bottom: 2px solid #BB86FC;
    cursor: pointer;
    margin-bottom: 15px;
    transition: ease-in-out 0.2;
}

.sideBar h1:hover{
    letter-spacing: 1px;
}

.sideBar img{
    margin-top: 10px;
    transition: 0.5s;
}

.sideBar img:hover{
    transform: rotateZ(180deg);
}

.sideBar input[type=button]{
    border: none;
    color: white;
    background: #BB86FC;
    width: 100%;
    min-height: 2.1rem;
    font-weight: 700;
    font-size: 19px;
    cursor: pointer;
    text-align: left;
    padding-left: 5px;
    letter-spacing: 1px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.1s;
}

.sideBar input[type=button]:hover{
    background: #9767d1;
    letter-spacing: 3px;
}

.sideBar input[type=button]:focus{
    border: 0;
    background: #a576df;
    letter-spacing: 2px;
}

#subButton{ 
    border: none;
    color: white;
    background: #a067e6;
    width: 96%;
    margin-right: 4%;
    height: 2rem;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    text-align: left;
    padding-left: 5px;
    letter-spacing: 1px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.1s;
}

#subButton:hover{
    background: #8d5bca;
    transform: translateX(4%);
    letter-spacing: 2px;
}

#subButton:focus{
    border: 0;
    background: #a576df;
    letter-spacing: 2px;
}



.pageSpace{
    width: 90%;
    min-height: 3rem;
    margin-top: 10px;
}

.emojiItem{
    width: 90%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: 2px solid #a576df;
    padding-top: 1px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #BB86FC;
    transition: ease-in-out 0.1s;
}

.emojiItem:hover{
    letter-spacing: 2px;
    color:#a576df;
}


.emojiItem h1{
    font-size: 35px;
    margin-right: 10px;
    border-right: 1px solid #a576df;
    padding-right: 6px;
}

.emojiItem h2{
    font-size: 16px;
    font-weight: 400;
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track { 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }